@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html,
body {
	background-color: black;
	height: 100%;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

input,
.choiceButton {
	border: 1px solid #ccc;
	border-radius: 10px;
	outline: none;
	font-size: 1.6rem;
	padding: 0.5rem 0.5rem 0.5rem 1.4rem;
	width: 100%;
	background-color: transparent;
	color: white;
}

.choiceButton:hover {
	cursor: pointer;
	background-color: rgb(255, 255, 255);
	color: black;
}

.chartTypeButton {
	border-image-slice: 1;
	border-width: 3px;
	border-image-source: linear-gradient(90deg, rgba(3, 148, 237, 1) 14%, rgba(241, 4, 243, 1) 79%);
	padding: 8px;
	border-radius: 10px;
	outline: none;
	font-size: 1.6rem;
	background-color: transparent;
	color: white;
	margin-bottom: 50px;
}

.active {
	cursor: default;
	background: rgb(3, 148, 237);
	background: linear-gradient(90deg, rgba(3, 148, 237, 1) 14%, rgba(241, 4, 243, 1) 79%);
}

.chartTypeButton:not(.active):hover {
	cursor: pointer;
	background: rgb(3, 148, 237);
	background: linear-gradient(90deg, rgba(3, 148, 237, 1) 14%, rgba(241, 4, 243, 1) 79%);
}

.vote-button {
	border-image-slice: 1;
	border-width: 3px;
	border-image-source: linear-gradient(90deg, rgba(3, 148, 237, 1) 14%, rgba(241, 4, 243, 1) 79%);
	padding: 8px;
	border-radius: 10px;
	outline: none;
	font-size: 1.6rem;
	background-color: transparent;
	color: white;
}

.vote-button:hover {
	cursor: pointer;
	background: rgb(3, 148, 237);
	background: linear-gradient(90deg, rgba(3, 148, 237, 1) 14%, rgba(241, 4, 243, 1) 79%);
}

input::placeholder {
	color: rgb(171, 171, 171);
}

.gradient-color {
	background: rgb(3, 148, 237);
	background: linear-gradient(90deg, rgba(3, 148, 237, 1) 14%, rgba(241, 4, 243, 1) 79%);
}

.gradient-text {
	background: -webkit-linear-gradient(180deg, rgba(3, 148, 237, 1) 14%, rgba(241, 4, 243, 1) 79%);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
}

.share-items {
	position: absolute;
	left: 10px;
}

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	color: white;
	text-align: center;
}